:host {
  @apply flex h-full w-full;
}

.card {
  @apply flex flex-col justify-between shadow-md rounded-lg border-gray-300 p-12 bg-gray-100;
  border: thin;
  height: 200px;
  width: 100%;
}

.card-title {
  @apply text-3xl font-bold;
}

.card-currency {
  @apply text-4xl font-bold mb-2;
}
