<h1 class="text-6xl mb-6">Users</h1>
<dx-data-grid
  keyExpr="id"
  class="shadow-xl"
  [dataSource]="users"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  (onInitNewRow)="onInitNewRow($event)"
  (onEditingStart)="onEditingStart($event)"
  (onSaving)="onSaving($event)"
  (onEditCanceled)="onEditCanceled($event)"
  (onRowRemoving)="onRowRemoving($event)"
>
  <dxi-column dataField="firstName"></dxi-column>
  <dxi-column dataField="lastName"></dxi-column>
  <dxi-column dataField="birthday" caption="Birthday" dataType="date">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="type" caption="Type">
    <dxo-lookup
      [dataSource]="userType"
      valueExpr="value"
      displayExpr="text"
    ></dxo-lookup>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="phone" caption="Phone" editorType="dxNumberBox">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column
    dataField="allowLogin"
    caption="Allow Login"
    dataType="boolean"
  ></dxi-column>
  <dxi-column dataField="address" caption="Address">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="email" caption="Email">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxi-validation-rule type="email"> </dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="password" [visible]="false"></dxi-column>

  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
    <dxo-popup
      [title]="popUpLabel"
      [showTitle]="true"
      width="auto"
      height="auto"
    >
    </dxo-popup>
    <dxo-form #form (click)="log(form)">
      <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
        <dxi-item dataField="firstName">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="lastName">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="birthday" dataType="date">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="phone" editorType="dxNumberBox">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="type">
          <dxo-lookup
            [dataSource]="userType"
            valueExpr="value"
            displayExpr="text"
          >
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxo-lookup>
        </dxi-item>
        <dxi-item dataField="address" [colSpan]="2">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="email" *ngIf="popUpLabel === 'Add User'">
          <dxi-validation-rule type="required"></dxi-validation-rule>
          <dxi-validation-rule type="email"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [colSpan]="1" dataField="password" [editorOptions]="{
            mode: 'password'
          }">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="allowLogin" [editorOptions]="{ disabled: currentUserIdEditing }"> </dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxo-filter-row [visible]="true"> </dxo-filter-row>

  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="['5', '10', '15']"
    displayMode="adaptive"
    [showInfo]="true"
  >
  </dxo-pager>
</dx-data-grid>
