<div class="forgot-password-form">
  <dx-form width="100%" height="auto" #form>
    <dxi-item itemType="group" caption="Forgot Password">
      <dxi-item dataField="email">
        <dxo-label text="Email"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="Email is required"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="email"
          message="Email is invalid"
        ></dxi-validation-rule>
      </dxi-item>
      <dxi-item itemType="simple" class="forgot-password-button">
        <dx-button text="Submit" (onClick)="submit(form)">
        </dx-button>
        <a routerLink="/login" class="ml-auto underline">Login</a>
      </dxi-item>
    </dxi-item>
  </dx-form>
</div>
<!-- .forgot-password-form -->
<dx-load-panel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: 'body' }"
  [visible]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
>
</dx-load-panel>
